<div class="container-main pt-10! font-serif prose prose-neutral prose-lg md:prose-xl mx-auto prose-headings:font-bold prose-headings:tracking-tight prose-a:text-blue-600 hover:prose-a:text-blue-500 selection:bg-blue-100 selection:text-blue-900">

# About

Echo is a personal project for practicing English listening

It was originally built last year, but I can't keep by myself, this year(2026) I restarted it and refactored the code through vibe-coding.

## Why

Last year, I spent a lot of time memorizing English words through some Apps, but I found I couldn't understand spoken English, let alone speak it fluently.

Many people say that if you listen enough, you will naturally learn to pronounce words correctly and speak fluently.

So, I decided to build a tool to help me practice my English listening skills first.

## Vision

Let's stick with it ourselves for a while and see how it goes.

</div>
