<div class="container-main pt-10! prose prose-neutral md:prose-lg mx-auto prose-headings:font-bold prose-headings:tracking-tight prose-a:text-blue-600 hover:prose-a:text-blue-500 selection:bg-blue-100 selection:text-blue-900">

# Changelog

All notable changes to this project will be documented in this file.

## 2026-02-27

- Alpha release, can simple listen daily posts

</div>