<h1>Posts</h1>
<div class="posts">
  <% @posts.each do |post| %>
    <%= render "posts/post", post: post %>
  <% end %>
</div>

<% if @pagy.next %>
  <a href="<%= pagy_next_url(@pagy) %>" class="more">See more post</a>
<% end %>

