:root {
  --container: 70em;
}

:where(#main) {
  container-type: inline-size;
  /* font-size: var(--font-medium-responsive); */
  inline-size: var(--container);
  margin-inline: auto;
  max-inline-size: 100vw;
  /* padding-block-end: clamp(var(--block-space), 5%, calc(var(--block-space) * 3)); */
  padding-block-end: 80px;
  padding-inline: clamp(var(--inline-space), 5%, calc(var(--inline-space) * 3));

  @media (max-width: 70ch) {
    padding-inline: var(--block-space) ;
  }

  @media print {
    font-size: 11pt;
    inline-size: unset;
    line-height: 1.3;
    margin: 0;
    orphans: 3;
    padding: 0;
    text-align: justify;
    text-justify: distribute;
    widows: 2;
  }
}
