#nav {
  height: 50px;
  position: sticky;
  top: 0;
  /* left: 0;
  right: 0;
  z-index: 1000; */
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid var(--color-border);
}

.nav--hidden {
  transform: translateY(-100%);
}

.nav__main {
  padding: 0 2em;
  margin-inline: auto;
  width: min(100%, var(--container));
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;

  @media (max-width: 70ch) {
    padding-inline: var(--block-space) ;
  }
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  color: var(--color-black);
  font-weight: bold;
}

.nav__links {
  display: flex;
  gap: 1em;
  & a {
    text-decoration: none;
  }
}
