.posts {
  display: flex;
  flex-direction: column;
  gap: var(--block-space);
}

.post {
  display: flex;
  gap: var(--block-space);
  justify-content: center;
  align-items: center;
  padding: var(--block-space);
  border: 1px solid var(--color-border, #ccc);
  border-radius: var(--border-radius, 0.5rem);
  text-decoration: none;
  color: var(--color-text, #000);
  &:visited {
    color: var(--color-text, #000);
  }
  @media (max-width: 70ch) {
    flex-direction: column;
  }
}

.post__poster {
  width: 200px;
  height: 200px;
  @media (max-width: 70ch) {
    width: 100%;
    height: auto;
  }
}

.post__title {
  margin: 1rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-large-responsive);
}

.post__title-english {
  font-size: var(--font-medium-responsive);
}

.post__guide {
  font-size: var(--font-small-responsive);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post__audio {
  width: 100%;
  margin-top: 1rem;
  position: sticky;
  bottom: 1rem;
  padding: 0 1rem;
}

.trix-content > div {
  margin: 1em 0;
}