.posts {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--block-space);
}

.post {
  display: flex;
  gap: var(--block-space);
  justify-content: center;
  align-items: center;
  padding: var(--block-space);
  border: 1px solid var(--color-border, #ccc);
  border-radius: var(--border-radius, 0.5rem);
  text-decoration: none;
  color: var(--color-text, #000);
  &:visited {
    color: var(--color-text, #000);
  }
  @media (max-width: 70ch) {
    flex-direction: column;
  }
}

.post__poster {
  width: 200px;
  height: 200px;
  @media (max-width: 70ch) {
    width: 100%;
    height: auto;
  }
}

.post__title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-large-responsive);
}

.post__meta {
  margin: 0;
  margin-top: 12px;
  font-size: var(--font-medium-responsive);
}

.post__topic,
.post__date {
  margin-right: 4px;
  border: 1px solid var(--color-border, #ccc);
  display: inline-flex;
  align-items: center;
  border-radius: var(--border-radius, 0.25rem);
  border: 1px solid var(--color-border, #ccc);
  padding: 0.25rem 0.5rem;
  font-size: var(--font-small-responsive);
  font-weight: 600;
  transition: color 0.3s, background-color 0.3s;
  outline: none;
  color: var(--color-foreground, #333);
}

.post__guide {
  margin: 0;
  margin-top: 14px;
  font-size: var(--font-medium-responsive);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.trix-content > div {
  margin: 1em 0;
}