name: Dokploy Deployment

on:
  workflow_run:
    workflows: ["Publish Docker image"]
    types:
      - completed
    branches: ["main"]

jobs:
  trigger-dokploy-deployment:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Dokploy Web Deployment
        uses: benbristow/dokploy-deploy-action@0.2.2
        with:
          api_token: ${{ secrets.DOKPLOY_API_KEY }}
          application_id: ${{ secrets.DOKPLOY_WEB_APPLICATION_ID }}
          dokploy_url: ${{ secrets.DOKPLOY_URL }}
          service_type: application

      - name: Dokploy JOB Deployment
        uses: benbristow/dokploy-deploy-action@0.2.2
        with:
          api_token: ${{ secrets.DOKPLOY_API_KEY }}
          application_id: ${{ secrets.DOKPLOY_JOB_APPLICATION_ID }}
          dokploy_url: ${{ secrets.DOKPLOY_URL }}
          service_type: application