<!DOCTYPE html>
<html data-theme="light">
  <%= render "shared/head" %>

  <body class="h-screen grid grid-rows-[auto_1fr_auto]">
    <%= render "shared/flash" %>
    <main id="main">
      <%= yield %>
    </main>
  </body>
</html>
